body {
    /*background-color: #C3B274;*/
}

#heading-display {
    width: 100%;
    /*text-align: center;*/
    margin-bottom: 10px;
}

#main-page-img {
    width: 300px;
}

.main-image-display {
    height: 100px;
    float: left;
    /*clear: both;*/
}

input[type="radio"]{
    display:none;
}

input[type="radio"] + label
{
    display: inline-block;
    width:50px;
    height:50px;
    margin:5px;
    background-size:50px 50px;
    background-repeat:no-repeat;
}

input[type="radio"]:checked + label
{
    -webkit-box-shadow:inset 0px 0px 0px 5px black;
    -moz-box-shadow:inset 0px 0px 0px 5px black;
    box-shadow:inset 0px 0px 0px 5px black;

}

.design-control-cntnr span {
    float: left;
    clear: both;
}

#section-order-mail div.single-order:first-of-type img.main-image-display {
    display: none;
}

.error {
    /*background-color: orangered;*/
    border-width: 5px;
    border-color: red;
}

.control {
    clear: both;
}

#section-order-mail fieldset{
    background-color: #EAB06E;
}

#section-order-email fieldset{
    background-color: #E89C84;
}

button {
    font-size: large;
    margin: 5px;
    border-radius: 4px;
    clear: both;
    float: left;
}

.month-control-cntnr {
    clear: none;
    float: left;
}

#errors-on-page-notice {
    color: red;
}

.hidden {
    display: none;
}

input, textarea {
    width: 200px;
}

.order-collection .single-order:first-child {
    clear: both;
}

div.single-order {
    width: 300px;
    float: left;
}

